% dbHost=81.70.105.201:5236?autoCommit=true
% dbUser=SYSDBA
% dbPwd=ENC(zsvHz8TN9c/S2sXY3s/Ym5iZnp+c)

dbHost=192.168.112.140:5236?autoCommit=true
dbUser=SYSDBA
dbPwd=ENC(zsvHz8TN9c/S2sXY3s/Y+fP57ujr)



% dbHost=81.70.105.201:5236?autoCommit=true
% dbUser=SYSDBA
% dbPwd=ENC(zsvHz8TN9c/S2sXY3s/Ym5iZnp+c)

dbHost=192.168.112.140:5236?autoCommit=true
dbUser=SYSDBA
dbPwd=ENC(zsvHz8TN9c/S2sXY3s/Y+fP57ujr)
